---
---

@import "{{ site.theme }}";

header {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 25px;
}

img {
    max-width: 75%;
    border-radius: 50%;
    border: 5px solid black;
}

h1#functioneel-beheerder {
    margin-top: 10px;
}
