---
---

@import "{{ site.theme }}";

header {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 25px;
}

img {
    max-width: 75%;
    border-radius: 50%;
    border: 2px solid #222;
}

h1#curriculum-vitae {
    margin-top: 20px;
}

small {
    display: none;
}
